/* index */

.minFullHeight {
    min-height: calc(100vh - 120px);
}
.app-featuresText {
     color: grey;
    font-weight: 700;
    font-size: 1.1em;
}

.app-features img{
    width: 100%;
}
.title {
    color: #FEF9E7;
    font-weight: 900;
    font-size: 3em;
    margin-top: 20px;
}

/* profile */
.buttonProfile {
    text-decoration: none;
    color: #88ccb7;
}
.imgProfile {
    width: 100px;
    margin-top: 70px;
}
.containerProfile {
    margin: 50px 300px;
    
}
.wellcome {
    font-weight: 700;
    color: #06736e;
    margin-bottom: 30px;
}

/* myTravelList */
.linkCreate {
    text-decoration: none;
}
.margin {
    margin-top: 40px;
}

/* signup */
.containerSignup {
    margin: 20px
}

.formLabel{
    color: #3fb4a4;
    font-weight: 500;
    font-size: 1.8em;
}

.buttonSignup {
    background-color: #626567;
    color: #88ccb7;
}

/* login */
.containerLogin {
    margin-top: 100px;
}


/* travelForm */
.formTravel {
     color: grey;
    font-weight: 700;
    font-size: 1.1em;
}

.formText {
     color: 5B5E60;
    font-weight: 400;
    font-size: 1.1em;
}
.cardGeneral {
    margin: 40px;
}


/* travel day */
.imgTravelDay {
    width: 100%;
}

/* apps travel */
/* margin: 20px; */
/* inspired */
