
/* search */

.searchBar {
  border-color: white;
  border-radius: 5px;
  background-color: rgba(254,249,231,0.2);
}
.searchBar img{
  max-width: 30px;
  max-height: 20px;
}
.linkSearch {
  text-decoration: none;
  color: inherit;
}


/* navbar */

.navbar {
  background-color: rgba(254,249,231,0.5);
  height: 50px;
  justify-content: space-between;
  z-index: 100;
  position: fixed;
}

.logoApp {
  width: 60px;
  padding: 5px;
}

.navbarText {
  margin-right: 15px;
  font-size: 1.15em;
  padding-top: 10px;
}

.navbarLink {
    text-decoration: none;
    font-weight: 150;
    color: #008080;
    margin-right: 10px;
    font-size: 1em;
    letter-spacing: -1px;
    align-items: center;
    padding-top: 10px;
}

.helloUser {
  margin-left: 30px;
}